.botoesDentroGrid {
    vertical-align: middle;
    text-align: center;
}


#btAlterar {
    margin-top: 25%;
    float: left;
    width: 45%;
    margin-left: 2px;
}
#btExcluir {
    margin-top: 25%;
    float: right;
    width: 45%;
    margin-right: 2px;
}



#AlinhaFiltros {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.campoFiltro {
    margin-right: 5px;
    width: 20%;
    vertical-align: middle;
    float:right;
}

.campoFiltroBusca {
    margin-right: 5px;
    width: 30%;
    vertical-align: middle;
    float: left;
}
#nomeAlunoBuscarMenu {
    width: 100%;
}


.col-md-6 {
    width: 25%;
}

.alinhaPaginacao {
    margin: 5px 0px 0px 0px;
}

.table {
    margin: 2px 0px 0px 0px;
}

.caixaTextoBuscar {
    width: 100%;
}

.botoesBusca {
    width: 20%;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    cursor: pointer;
}
#nomeAlunoBuscar {
    width: 28%;
    display: inline-block;
}
#cabecarioForm {

background-color:black;

}
#lbltitulo {

color:white;
}


.imgCss {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.tabelaAlinha {
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

.GridAluno {
    float: left;
    margin-right: 5px;
    min-width: 40%;
}

.GridAlunoCad {
    float: right;
    margin-left: 5px;
    min-width:40%;
}

.BotoesAddRemove {
    margin-right: 45%;
    margin-left: 45%;
    text-align: center;
    margin-top: 10%;
}

#btAdd {
    text-align: center;
    margin-top: 10px;
}

#btRem {
    text-align: center;
    margin-top: 10px;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


.table th, .table td {

    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

