@{
    ViewData["Title"] = "Index";
}

<h1>Matricula</h1>
<div id="divTabla">
</div>

@section Scripts{

    <script src="~/js/AlunoCurso.js"></script>
    <link href="~/css/estilo.css" rel="stylesheet">
}